{% extends 'base.html.twig' %}

{% block title %}Edit TODO{% endblock %}

{% block body %}
    <h1>Edit TODO</h1>

    {{ include('todo/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('todo_index') }}">back to list</a>
{% endblock %}
